*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('res/Rose.webp') no-repeat center center fixed; /* Hintergrundbild */
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    text-align: center;
    background-color: rgba(255, 248, 240, 0.8); /* Transparenter Hintergrund für Textlesbarkeit */
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Positionierung relativ zum Container */
    width: 300px; /* Festgelegte Breite für das Wrapper */
    height: auto; /* Automatische Höhe für das Wrapper, um Platz für das Bild zu schaffen */
    border: 2px solid #d19a9e; /* Sichtbarer Rahmen um den Wrapper */
    overflow: visible; /* Verhindert, dass überfließende Inhalte sichtbar sind */
}

h2 {
    font-size: 1.5em;
    color: #d19a9e; /* Farbe angepasst an die Farben des Bildes */
    margin: 15px 0;
}

.image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    display: none; /* Initial unsichtbar */
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative; /* Positionierung relativ innerhalb des Containers */
}

.no-btn-container {
    position: absolute; /* Absolute Positionierung relativ zu .wrapper */
    width: 300px; /* Gleiche Breite wie der Wrapper */
    height: 200px; /* Gleiche Höhe wie der Wrapper */
    display: none; /* Unsichtbar zu Beginn */
    z-index: 1; /* Niedrigerer z-index */
    background-color: transparent; /* Hintergrundfarbe transparent */
}

button {
    width: 100px; /* Festgelegte Breite für den Button */
    height: 40px; /* Festgelegte Höhe für den Button */
    color: white;
    font-size: 1em; /* Angepasste Schriftgröße */
    border-radius: 20px; /* Angepasste Rundung */
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #d19a9e; /* Angepasst an die Farben des Bildes */
    margin: 0 10px;
    position: relative; /* Positionierung relativ zu btn-group */
    z-index: 2; /* Höherer z-index */
}

button:nth-child(1),
button:nth-child(2) {
    background: #d19a9e; /* Angepasst an die Farben des Bildes */
}

button:nth-child(2) {
    background: #d19a9e; /* Anfänglich angepasst an die Farben des Bildes */
    color: white;
}
